.Container{
    width:50vh;
    height:40vh;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius:5px;
    margin:5px;
}

.imgContainer{
    width:100%;
    height:auto;
    border-radius: 5px 5px 0 0;
}

.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1rem;
}